.portfolio {
  width: 100%;
}

.portfolio__content {
  margin: 100px 70px 0;
}

.portfolio__title {
  max-width: 250px;
  margin: 0 0 50px;
  padding: 0;
  color: var(--font-background-color, #8b8b8b);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.portfolio__item {
  margin: 20px 0 0 0;
  padding: 0 0 19px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  border-bottom: 1px solid var(--portfolio-separatpr-color, #424242);
  background-image: url('../../images/portfolio_nav.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.portfolio__item:first-of-type {
  margin: 0;
}

.portfolio__item:last-of-type {
  border-bottom: none;
}

.portfolio__item:hover {
  opacity: 0.7;
}


.portfolio__item-link {
  width: 100%;
  color: var(--font-color, #fff);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  text-decoration: none;
}