.techs {
  width: 100%;
  background-color: var(--background-light-color, #272727);
}

.techs__content  {
  margin: 100px 70px 0;
}

.techs__title {
  margin: 0;
  padding: 0 0 23px;
  color: var(--font-color, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid var(--title-separator-color, #dadada);
}

.techs__subtitle {
  margin: 90px auto 26px;
  color: var(--font-color, #fff);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__description {
  max-width: 460px;
  margin: 0 auto 100px;
  color: var(--font-color, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 0 0 100px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
}

.techs__item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark-color, #303030);
  border-radius: 10px;
  color: var(--font-color, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  list-style-type: none;
}