.nav-tab {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.nav-tab__item {
  width: 96px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-dark-color, #303030);
  color: var(--font-color, #fff);
  border-radius: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.nav-tab__item:hover {
  opacity: 0.8;
}